<section class="todo__items">
  <p-card header="Todo list" [style]="{width: '400px'}">
    <input id="input" type="text" size="30" class="todo__input" pInputText [(ngModel)]="todoTitle" placeholder="{{ todoPlaceholder }}" (keyup.enter)="handleAddTodo()">
    
      <div class="todo__item" *ngFor="let todo of todos">
        <div class="p-field-checkbox">
          <p-checkbox
            name="todos"
            value="{{ todo.id }}"
            inputId="todo-{{ todo.id }}"
            binary="true"
            [(ngModel)]="todo.isCompleted"
          ></p-checkbox>
          <label *ngIf="!todo.isEditing" class="" (dblclick)="handleEditTodo(todo)" >
            {{ todo.title }}
          </label>
          <input id="input" *ngIf="todo.isEditing" type="text" size="30" class="" pInputText [(ngModel)]="todo.title" (blur)="handleDoneEditingTodo(todo)" (keyup.enter)="handleDoneEditingTodo(todo)" (keyup.esc)="handleCancelEditTodo(todo)" autofocus>
          
          <div class="todo__icon" (click)="handleDeleteTodo(todo.id)">
            &times;
          </div>
        </div>
      </div>

      <div *ngIf="todos.length === 0">
        <h3>There's no more task to do :D</h3>
      </div>

      <div class="todo__divider"></div>
  
      <div class="p-field-checkbox">
        <p-checkbox
          name="checkAll"
          inputId="checkAll"
          binary="true"
          label="Check all"
          [(ngModel)]="checkAll"
          (onChange)="handleCheckAllTodos($event)"
        ></p-checkbox>
      </div>
  </p-card>
</section>
