.todo {
    &__items{
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        
    }

    &__divider {
        position: relative;
        margin-top: 15px;
        margin-bottom: 5px;
        height: 1px;
        border-bottom: thin;
        background-color: black;

    }

    &__icon {
        position: relative;
        width: 20px;
        border-radius: 30px;
        text-align: center;
        margin-left: auto;

        &:hover {
            background-color: #d3d3d3;
        }
    }

    &__input {
        margin-bottom: 10px;

        &.-edit {
            margin-left: 15px;
            margin-bottom: 0px;
        } 
    }

    &__label {
        width: auto;
        margin-left: 10px;
        box-sizing: border-box;
        overflow: hidden;

        &:hover {
            cursor: text;
        }
    }
}