<section class="todo-items">
  <div class="todo-item" *ngFor="let todo of todos">
    <!-- row -->
    <div class="p-field-checkbox">
      <p-checkbox
        name="todos"
        value="{{ todo.id }}"
        inputId="todo-{{ todo.id }}"
        label="{{ todo.title }}"
        [ngModel]="todos"
        (ngModelChange)="handleCheckboxClick($event)"
      ></p-checkbox>
    </div>
    <!-- clear icon -->
  </div>
</section>

<!-- Form here add todo -->

<!-- [(ngModel)]="todos" its causing the duplicate -->
